 
#body{
	margin:0;
}
#body_wrapper{
	margin-top:2em;
}
#top_menu {
	min-width: 200px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -5px;
}

#bottom_ribbon {
background: white;
height: 50px;
width: 100%;
position: fixed;
bottom: 0;
margin: 0 auto;
border-top: 2px solid #036;
} 
#footer {
position: absolute;
bottom: 0;
width: 100%;
height: 60px;
background-color: #f5f5f5;
text-align:center;
}
.login_header{
	margin-bottom:4em;
}
.align_center{
	margin:0 auto;
}

.widget-support-tickets .ticket-label {
display: block;
float: right;
font-size: 10px;
line-height: 18px;
margin: 2px 0 0;
padding: 0 5px;
position: relative;
}
.invalid{
color:red
}

.select2-container{
   border:0px !important;
}